@import "../../styles/color";

#welcome {
  .features {
    margin-top: 50px;

    h1 {
      color: map_get($colors, "grey-stone");
      text-align: center;
    }

    .feature {
      display: inline-block;
      width: 50%;
      margin-top: 20px;
      margin-bottom: 30px;
      text-align: center;
      vertical-align: top;

      h3 {
        margin: 20px 0 10px 0;
        line-height: 25px;
        padding: 0;
        font-weight: 700;
        font-size: 1.2rem;
        color: map_get($colors, "grey-volcanos");
      }

      p {
        color: map_get($colors, "grey-storm");
      }

      .illustrate {
        width: 400px;
        height: 300px;
        margin: auto;
        background-size: 400px 300px;
        border: 3px solid map_get($colors, "grey-stone");
        border-radius: 3px;
        opacity: 0.9;
      }
    }
  }

  @media screen and (max-width: 950px) {
    .features {
      .feature {
        .illustrate {
          width: 320px;
          height: 240px;
          background-size: 320px 240px;
        }
      }
    }
  }

  @media screen and (max-width: 750px) {
    .features {
      .feature {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .features {
      .feature {
        .illustrate {
          width: 256px;
          height: 192px;
          background-size: 256px 192px;
        }
      }
    }
  }
}
