@import "../styles/color";

#welcome {
  .features {
    margin-top: 50px;

    h1 {
      color: map_get($colors, "grey-stone");
      text-align: center;
    }

    .feature {
      display: inline-block;
      width: 50%;
      margin-top: 20px;
      margin-bottom: 30px;
      text-align: center;
      vertical-align: top;

      h3 {
        margin: 20px 0 10px 0;
        line-height: 25px;
        padding: 0;
        font-weight: 700;
        font-size: 1.2rem;
        color: map_get($colors, "purple-bunting");
      }

      p {
        color: map_get($colors, "grey-storm");
      }

      .illustrate {
        width: 400px;
        height: 300px;
        margin: auto;
        background-size: 400px 300px;
        border: 3px solid map_get($colors, "grey-stone");
        border-radius: 3px;
        opacity: 0.9;
      }
    }
  }

  @media screen and (max-width: 950px) {
    .features {
      .feature {
        .illustrate {
          width: 320px;
          height: 240px;
          background-size: 320px 240px;
        }
      }
    }
  }

  @media screen and (max-width: 750px) {
    .features {
      .feature {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 400px) {
    .features {
      .feature {
        .illustrate {
          width: 256px;
          height: 192px;
          background-size: 256px 192px;
        }
      }
    }
  }

  .details {
    margin-top: 50px;

    h1 {
      color: map_get($colors, "grey-stone");
      text-align: center;
    }

    .detail {
      width: 90%;
      height: 50px;
      margin: 20px auto;
      text-align: center;

      .illustrate {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-right: 40px;
        margin-left: 10%;
        background: no-repeat center;
        background-size: 40px 40px;
        opacity: 0.8;
      }

      .text {
        display: inline-block;
        width: 60%;
        height: 50px;
        font-size: 1.2rem;
        text-align: left;
        color: map_get($colors, "grey-stone");

        p {
          display: table-cell;
          height: 50px;
          vertical-align: middle;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    .details {
      .detail {
        .illustrate {
          margin-left: 8%;
        }
      }
    }
  }

  @media screen and (max-width: 900px) {
    .details {
      .detail {
        .illustrate {
          margin-left: 3%;
        }
      }
    }
  }

  @media screen and (max-width: 800px) {
    .details {
      .detail {
        .illustrate {
          margin-left: 0;
          background-size: 35px 35px;
        }

        .text {
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }

  .downloads {
    margin-top: 30px;
    padding: 80px 30px;
    height: 400px;
    background-color: map_get($colors, "purple-bunting");

    .content {
      padding: 0 5%;

      .title {
        color: map_get($colors, "white");
        font-size: 1.7rem;
        font-weight: 300;
      }

      .left {
        display: inline-block;
        width: 50%;
        color: map_get($colors, "white");
        font-size: 1rem;
        font-weight: 300;

        .tip {
          margin-right: 10px;
        }
      }

      .right {
        display: inline-block;
        float: right;

        .illustrate {
          width: 360px;
          height: 210px;
          margin: -70px 20px 0 10px;
          background: no-repeat center;
          background-size: 360px 210px;
        }
      }
    }
  }

  @media screen and (max-width: 1150px) {
    .downloads {
      .content {
        .left {
          width: 45%;
        }
      }
    }
  }

  @media screen and (max-width: 1050px) {
    .downloads {
      .content {
        .left {
          width: 40%;

          p {
            font-size: .9rem;
          }
        }

        .right {
          .illustrate {
            margin-right: 0;
          }
        }
      }
    }
  }

  @media screen and (max-width: 910px) {
    .downloads {
      height: 600px;
      padding: 70px 10px 30px 10px;

      .content {
        text-align: center;
        padding-left: 0;
        padding-right: 0;

        .left {
          width: 80%;
        }

        .right {
          width: 100%;

          .illustrate {
            margin: 10px auto 30px auto;
          }
        }
      }
    }
  }

  @media screen and (max-width: 550px) {
    .downloads {
      .content {
        .right {
          .illustrate {
            width: 324px;
            height: 189px;
            margin: 10px auto 30px auto;
            background-size: 324px 189px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    .downloads {
      .content {
        .left {
          .download-button {
            margin-bottom: 25px;
          }
        }

        .right {
          .illustrate {
            width: 256px;
            height: 149px;
            background-size: 256px 149px;
          }
        }
      }
    }
  }

  .contacts {
    margin: 50px auto 50px auto;
    text-align: center;

    h1 {
      color: map_get($colors, "grey-stone");
      text-align: center;
    }

    .contact-buttons {
      margin: 50px auto 30px auto;

      button {
        width: 200px;
        height: 30px;
        border-radius: 30px;
        margin: 0 20px;

        border: solid map_get($colors, "grey-storm");
      }

      .icon {
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        opacity: 0.7;
      }
    }
  }

  @media screen and (max-width: 850px) {
    .contacts {
      .contact-buttons {
        display: inline-block;

        .contact-button {
          margin-top: 30px;
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    .contacts {
      margin: 20px auto 20px auto;
    }
  }

  .divider {
    display: block;
    width: 70px;
    height: 4px;
    margin: 10px auto;
    border-radius: 3px;
    background: map_get($colors, "purple-wine");
  }
}
