@import "../styles/color";

#welcome {
  .offset-anchor {
    border-top: 60px solid transparent;
    margin: -60px 0 0;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }

  .divider {
    display: block;
    width: 70px;
    height: 4px;
    margin: 10px auto;
    border-radius: 3px;
    background: map_get($colors, "grey-storm");
  }
}
