@import "../../styles/color";

#navbar-floor {
  width: 100%;
  height: 90px;
}

#navbar {
  position: fixed;
  padding-top: 20px;
  width: 100%;
  height: 90px;
  background-color: map_get($colors, "white");
  -webkit-transition: all 0.3s ease-out, padding-top 0.3s ease-out;
  -moz-transition: all 0.3s ease-out, padding-top 0.3s ease-out;
  -ms-transition: all 0.3s ease-out, padding-top 0.3s ease-out;
  -o-transition: all 0.3s ease-out, padding-top 0.3s ease-out;
  transition: all 0.3s ease-out, padding-top 0.3s ease-out;
  -webkit-box-shadow: 0 9px 18px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
  -moz-box-shadow: 0 9px 18px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
  box-shadow: 0 9px 18px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);

  &.smaller {
    padding-top: 5px;
    height: 60px;
  }

  &.transparent {
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    a {
      color: map_get($colors, "white");

      button {
        svg, span {
          color: map_get($colors, "white")
        }
      }
    }
  }

  a {
    color: map-get($colors, "grey-mine");
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;

    button {
      span {
        color: map-get($colors, "grey-mine");
      }

      svg{
        color: map-get($colors, "grey-dark");
      }
    }
  }

  #navbar-brand {
    a {
      font-size: 1.5rem;
      font-weight: 400;
    }
  }
}

#navbar-burger {
  display: none;
}

@media screen and (max-width: 1000px) {
  #navbar {
    #navbar-items {
      display: none;
    }
  }

  #navbar-burger {
    display: block;

    &.transparent {
      a {
        color: map-get($colors, "white");
      }

      .bm-burger-button {
        color: map-get($colors, "white");

        &:hover {
          background: map-get($colors, "grey-stone");
        }
      }

      .bm-menu {
        a {
          color: map-get($colors, "grey-mine");
        }

        button {
          span {
            color: map-get($colors, "grey-mine");
          }

          svg{
            color: map-get($colors, "grey-dark");
          }
        }
      }
    }

    &.smaller {
      .bm-burger-button {
        top: 17px;
      }
    }

    a {
      display: block;
      width: 100%;
      color: map-get($colors, "grey-mine");
      text-decoration: none;
      margin: 10px 0 20px 10px;
    }

    .pt-button-group {
      width: 100%;
      display: block;
    }

    .bm-burger-button {
      position: fixed;
      width: 30px;
      height: 30px;
      top: 30px;
      right: 8%;
      padding: 5px;
      border-radius: 3px;
      color: map-get($colors, "grey-mine");
      -webkit-transition: top 0.3s ease-out;
      -moz-transition: top 0.3s ease-out;
      -ms-transition: top 0.3s ease-out;
      -o-transition: top 0.3s ease-out;
      transition: top 0.3s ease-out;

      &:hover {
        background: map-get($colors, "grey-iron");
      }
    }

    .bm-burger-bars {
      background: map-get($colors, "white");
    }

    /* Position and sizing of click-able cross button */
    .bm-cross-button {
      height: 24px;
      width: 24px;
    }

    .bm-cross {
      background: map_get($colors, "grey-platinum");
    }

    .bm-menu {
      background: map_get($colors, "white");
      padding: 2.5em 1.5em 0;
      font-size: 1.15em;
    }

    .bm-morph-shape {
      fill: map_get($colors, "grey-volcanos");
    }

    .bm-item-list {
      color: map_get($colors, "grey-platinum");
      padding: 0.8em;
    }

    .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
    }
  }
}
