@import "../styles/color";

#landing {
  margin-top: -90px;
  width: 100%;
  min-height: 650px;
  background-color: map_get($colors, "purple-mirage");

  .landing-particles {
    z-index: -1000;

    canvas {
      margin-top: -80px;
    }
  }

  .landing-text {
    width: 100%;

    h1, strong, p {
      text-align: center;
      color: map_get($colors, "grey-platinum")
    }

    .title {
      margin: 0 10%;
      line-height: 3.5rem;
      text-transform: uppercase;
    }

    .divider {
      display: block;
      width: 100px;
      height: 4px;
      margin: 30px auto 0 auto;
      border-radius: 3px;
      background: map_get($colors, "purple-wine");
    }

    .intro {
      margin: 30px auto 0 auto;
      width: 50%;
      font-size: 1.2rem;
    }

    .actions {
      width: 100%;
      margin: 50px auto 0 auto;
      text-align: center;

      a {
        color: transparent;
      }

      button {
        border-radius: 30px;
        border: solid map_get($colors, "grey-iron");
        padding: 12px 30px;
        color: map_get($colors, "grey-moon");
      }
    }

    .down-indicator {
      margin-top: 150px;
      color: map_get($colors, "grey-ghost");
      text-align: center;
      animation: blinker 3s linear infinite;
    }

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #landing {
    .landing-text {
      .intro {
        width: 60%;
      }

      .down-indicator {
        margin-top: 90px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  #landing {
    .landing-text {

      .intro {
        width: 70%;
      }

      .down-indicator {
        margin-top: 50px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #landing {
    .landing-text {

      .intro {
        width: 80%;
        font-size: 0.9rem;
      }

      .down-indicator {
        margin-top: 30px;
      }
    }
  }
}
