@import "../../styles/color";

#footer {
  height: 80px;
  background-color: map_get($colors, "grey-volcanos");

  .copyright {
    p {
      text-align: center;
      padding-top: 30px;
      color: map_get($colors, "grey-platinum");
      font-size: 1rem;
      font-weight: 300;
    }
  }
}
